127.0.0.1	localhost
{{ vm_ip }}    {{ vh }}
{{ vm_ip }}    www.{{ vh }}
127.0.1.1	vagrant
# The following lines are desirable for IPv6 capable hosts
::1     ip6-localhost ip6-loopback
fe00::0 ip6-localnet
ff00::0 ip6-mcastprefix
ff02::1 ip6-allnodes
ff02::2 ip6-allrouters
