<VirtualHost *:80>
  ServerAdmin webmaster@localhost
  DocumentRoot {{ document_root }}
  ServerName {{ vh }}
  ServerAlias www.{{ vh }}
  <Directory {{ document_root }}>
    Options Indexes FollowSymLinks
  	AllowOverride All
    Require all granted
  </Directory>
  ErrorLog ${APACHE_LOG_DIR}/error.log
  CustomLog ${APACHE_LOG_DIR}/access.log combined
</VirtualHost>